* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 10px; 
}

.slider {
  margin: 0 auto;
  width: 65vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 2rem;
}

.slider input:first-child {
  margin-left: 20rem;
}

input {
  order: 2;
}

.image-wrapper {
  order: 0;
  height: 43.33vw;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.text-wrapper {
  order: 1;
}

.mem {
  order: 1;
  width: 65vw;
  transform: translateX(150%);
  opacity: 0.5;
  transition: 1s;
}
  
.text {
  display: none;
  width: 33.52vw;
  font-size: 2.2rem;
}

.first-drop:checked ~ .image-wrapper .first {
  order: 0;
  transform: translateX(0%);
  opacity: 1;
}

.first-drop:checked ~ .text-wrapper .first {
  display: block;
}

.second-drop:checked ~ .image-wrapper .second {
  order: 0;
  transform: translateX(0%);
  opacity: 1;
}

.second-drop:checked ~ .text-wrapper .second {
  display: block;
}

.third-drop:checked ~ .image-wrapper .third {
  order: 0;
  transform: translateX(0%);
  opacity: 1;
}

.third-drop:checked ~ .text-wrapper .third {
  display: block;
}

.fourth-drop:checked ~ .image-wrapper .fourth {
  order: 0;
  transform: translateX(0%);
  opacity: 1;
}

.fourth-drop:checked ~ .text-wrapper .fourth {
  display: block;
}

.fifth-drop:checked ~ .image-wrapper .fifth {
  order: 0;
  transform: translateX(0%);
  opacity: 1;
}

.fifth-drop:checked ~ .text-wrapper .fifth {
  display: block;
}